@import 'https://fonts.googleapis.com/css?family=Lato:400,700';
:root {
  --color-main: #333645;
  --color-hide: #8188ae;
  --color-hide-dark: #7178a0;
  --color-add: #34baec;
  --color-add-dark: #2ca6d2;
  --color-remove: #b8555e;
  --color-remove-light: #7b151d;
  --color-remove-dark: #9a3942;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  color: #222;
  line-height: 1.5;
  padding: 0;
  transition: background-color 0.3s ease;
  background: #a6c4da;
  margin: 0;
  transition: none;
}

.wrapper {
  width: 95%;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  margin: 0 auto;
  max-height: 100vh;
  height: 90%;
  border-radius: 10px;
  box-shadow: 0 10px 22px -15px #2e397e;
}

header {
  text-align: center;
  padding: 2.5em 1em;
  background-color: var(--color-main);
}

header h1 {
  font-size: 2.5em;
  font-stretch: ultra-expanded;
  line-height: 1;
  color: #fff;
  margin: 0 0 0.65em;
}

.group {
  display: flex;
  justify-content: center;
}

.list-container {
  padding: 0.65em 2em 2em;
}

ul {
  font-size: 1.15em;
  padding: 0;
  margin: 0 0 1.15em;
  list-style: none;
}

li {
  padding: 1.15em 0.5em;
  display: flex;
  align-items: center;
  border-bottom: solid 1px #dedede;
}

li:last-child {
  border: none;
}

/* Form Controls */
.input-main:focus,
button:focus {
  outline: none;
}

label {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.input-main {
  display: flex;
  font-size: 1.15em;
  width: 70%;
  padding: 0.5em 1em;
  border: 1px solid #dcdcdc;
  border-radius: 10px 0 0 10px;
}

.input-main:focus {
  border: solid 3px var(--color-add);
}

button {
  color: white;
  font-size: 1em;
  padding: 1em;
  background-color: var(--color-add);
  border: none;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

button:hover {
  background-color: var(--color-add-dark);
}

button:focus {
  outline: solid 3px #fff;
  outline-offset: -3px;
}

.btn-toggle {
  background-color: var(--color-hide);
}

.btn-toggle:hover {
  background-color: var(--color-hide-dark);
}

.btn-remove {
  color: white;
  padding: 0.85em 1em;
  background-color: var(--color-remove);
}

li input[type=checkbox],
li button {
  width: auto;
  margin-left: auto;
}

li button {
  font-size: 0.9rem;
  padding: 0.65em 0.85em;
  background-color: var(--color-remove);
}

.btn-remove:focus,
li button:focus {
  outline-color: var(--color-remove-dark);
}

.btn-remove:hover,
li button:hover {
  background-color: var(--color-remove-light);
}

/* Additional styles */
.selected {
  color: rgba(0, 0, 0, 0.4);
  transition: color 0.2s ease-in-out;
}

.grow {
  font-size: 4.8rem;
  transition: font-size 0.8s ease-in-out;
}

@media screen and (min-width: 720px) {
  .wrapper {
    max-width: 1000px;
    width: 60%;
  }
  .input-main {
    width: 50%;
  }
  .toggle {
    left: 25%;
  }
}
.toggle {
  display: flex;
  rotate: 90deg;
  justify-content: center;
  position: absolute;
  top: 55px;
  right: 10%;
}

.toggle-input {
  position: absolute;
  z-index: 2;
  bottom: 132.5%;
  border-radius: 50%;
  transform: rotate(-25deg);
  transform-origin: 50% 4.75em;
  width: 1.75em;
  height: 1.75em;
  opacity: 0;
  transition: transform 0.24s cubic-bezier(0.65, 1.35, 0.5, 1);
  cursor: pointer;
}
.toggle-input:checked {
  transform: rotate(25deg);
}

.toggle-handle-wrapper {
  position: absolute;
  z-index: 1;
  bottom: -135%;
  -webkit-mask-image: linear-gradient(to bottom, #000 62.125%, transparent 50%);
  mask-image: linear-gradient(to bottom, #000 62.125%, transparent 50%);
  width: 200%;
  overflow: hidden;
}

.toggle-handle {
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: rotate(-25deg);
  transform-origin: bottom center;
  transition: transform 0.24s cubic-bezier(0.65, 1.35, 0.5, 1);
}
.toggle-input:checked + .toggle-handle-wrapper > .toggle-handle {
  transform: rotate(25deg);
}

.toggle-handle-knob {
  position: relative;
  z-index: 1;
  border-radius: 50%;
  width: 1.75em;
  height: 1.75em;
  background-image: radial-gradient(farthest-corner at 70% 30%, #fedee2 4%, #d63534 12% 24%, #a81a1a 50% 65%, #d63534 75%);
  transition: transform 0.24s cubic-bezier(0.65, 1.35, 0.5, 1);
}
.toggle-input:checked + .toggle-handle-wrapper .toggle-handle-knob {
  transform: rotate(-90deg);
}
.toggle-handle-knob::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border-radius: inherit;
  width: 100%;
  height: 100%;
  box-shadow: inset 0 0 8px 2px rgba(255, 255, 255, 0.4);
  opacity: 0;
  transition: opacity 0.2s;
}
@media (hover: hover) {
  .toggle-input:hover + .toggle-handle-wrapper .toggle-handle-knob::after, .toggle-input:focus-visible + .toggle-handle-wrapper .toggle-handle-knob::after {
    opacity: 1;
  }
}

.toggle-handle-bar-wrapper {
  position: relative;
  width: 0.5em;
  height: 3em;
}

.toggle-handle-bar {
  position: absolute;
  top: -0.875em;
  left: 0;
  width: 100%;
  height: calc(100% + 0.875em);
  background-image: linear-gradient(to right, #777475, #a4a4a4, #fff 45% 55%, #a4a4a4, #777475);
  background-position-x: 0.06125em;
  transition: background-position-x 0.24s cubic-bezier(0.65, 1.35, 0.5, 1);
  box-shadow: inset 0 1em 0.25em rgba(0, 0, 0, 0.4);
}
.toggle-input:checked + .toggle-handle-wrapper .toggle-handle-bar {
  background-position-x: -0.06125em;
}

.toggle-base {
  position: relative;
  border-radius: 3.125em;
  padding: 0.25em;
  width: 3.5em;
  height: 1.125em;
  background-color: #fff;
  background-image: linear-gradient(to bottom, #fff, #d7d7d7);
  box-shadow: 0 -0.25em 0.5em #fff, 0 0.25em 0.5em #d7d7d7;
}

.toggle-base-inside {
  position: relative;
  border-radius: inherit;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom, #a6a6a6, #7d7d7d);
  box-shadow: inset 0 0.0625em rgba(255, 255, 255, 0.2), inset 0 -0.03125em rgb(255, 255, 255), inset 0 -0.0625em 0.25em rgba(0, 0, 0, 0.1);
}
.toggle-base-inside::after {
  content: "";
  position: absolute;
  border-radius: inherit;
  width: 100%;
  height: 100%;
  box-shadow: inherit;
  opacity: 0;
  transition: opacity 0.24s cubic-bezier(0.65, 1.35, 0.5, 1);
}
.toggle-input:checked ~ .toggle-base .toggle-base-inside::after {
  opacity: 0;
}

/* Dark mode styles */
body.dark-mode {
  transition: background-color 0.3s ease;
  background-color: #370e48;
  color: #ffffff;
}
body.dark-mode .wrapper {
  background-color: #2c2929;
}/*# sourceMappingURL=style.css.map */